{% extends 'template.html' %}
{% block content %}
<style>
    .negrito {
        font-weight: bold;
    }
    .fundo{
        background-color: lightgrey;
    }
    .tamanho{
        width: 75px;
    }
</style>
<div class="border fundo rounded m-auto mt-4 p-1 text-center">
    <h3>Cadastro de trabalhador</h3>
    <form action="/cadastrar_trabalhador" method="post">
        <div class="mb-3"><label for="nome">Nome do trabalhador:</label>
            <input class="form-control text-center w-50 m-auto" id="nome" name="nome" type="text" required></div>

        <div class="mb-3"><label for="custo">Custo mensal:</label>
            <input class="form-control text-center w-50 m-auto" type="number" id="custo" step="0.00" name="custo" required></div>

        <div class="mb-3"><label for="carga_horaria">Carga horária mensal:</label>
        <input class="form-control text-center w-50 m-auto" type="number" id="carga_horaria" name="carga_horaria" required></div>

        <input class="btn btn-sm btn-secondary m-2" type="submit" value="Cadastrar">
    </form>
</div>

{% endblock %}
