{% extends 'template.html' %}
{% block content %}
    <style>
    .negrito {
        font-weight: bold;
    }
    .fundo{
        background-color: lightgrey;
    }
    .tamanho{
        width: 75px;
    }
</style>
<div class="border m-auto fundo rounded mt-4 p-1 text-center">
    <h3>Listagem de produtos</h3>
    <div>
        <table class="table table-striped align-middle table-bordered table-hover">
            <thead>
                <tr>
                    <th> Nome </th>
                    <th> Rentabilidade </th>
                    <th> Ação </th>
                </tr>
            </thead>
            <tbody>
                {% for i in produtos %}
                        <tr>
                            <td>{{ i.nome }}</td>
                            <td>{{ i.rentabilidade }}</td>
                            <td>
                                <form action="/deletar_produto/{{ i.id }}" method="post">
                                <button class="btn btn-sm btn-secondary m-2" type="submit" value="Apagar">
                                <i class="bi bi-person-fill-x"></i> Deletar</button>
                                </form>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}